@import '../../color';

%baseStyle {
    display: inline-block;
    width: 5rem;
    color: #ffffff;
    border-radius: 3px;

    &:hover {
        opacity: .5;
    }

}

.btn_password {
    @extend %baseStyle;
    background: $upload_blue_dark;
    ;

}

.btn_text {
    @extend %baseStyle;
    background: $upload_blue_light;
}