@import '../../color';

.btnWrap {
    text-align: center;

    .btn {

        >button,
        >span {
            background: $upload_blue_dark;
            color: #ffffff;
            display: inline-block;
            border-radius: 3px;
            width: 16rem;
            padding: 4px;
            height: 3rem;
            line-height: 2.2rem;
            box-sizing: border-box;
            font-size: 1.4rem;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}