// html {
//     font-size: 62.5%;
//     body {
//         margin: 0;
//         padding: 0;
//     }
// }

.wrapper {
    box-sizing: border-box;

    .contents {
        min-height: 480px;

        .contents-inner {
            width: 940px;
            margin: 7.2rem auto;
        }
    }
}