@import 'color';

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='date'],
input[type='password'],
textarea {
    border: solid #eeeeee 1px;
}

.form-book {
    width: 75.6rem;
    margin: 7.2rem auto;
    font-size: 1.4rem;

    /deep/dl {
        margin-bottom: 2.4rem;
        display: table;

        dt,
        dd {
            display: table-cell;

        }

        dt {
            width: 16rem;
            vertical-align: top;
        }

        dd {
            width: 59.6rem;
            display: flex;
            flex-wrap: nowrap;
            justify-content: start;

            >div>span,
            >div>div {
                margin-right: 3.2rem;
            }

            // >div {
            //     margin-bottom: 1.6rem;
            // }

            input[type='text'],
            input[type='email'],
            input[type='tel'],
            input[type='date'],
            input[type='password'] {
                display: inline-block;
                border: #eeeeee solid 1px;
                border-radius: 3px;
                width: 16rem;
                padding: 4px;
                height: 2rem;
            }

            textarea {
                width: 100%;
            }

        }

    }
}

%msg {
    color: $read_orange_dark;
    font-size: 1rem;
    font-weight: bold;
    height: 1rem;
}

/deep/.msg {
    @extend %msg;
    display: inline-block;
    margin-left: 1rem;
    height: 3rem;
    line-height: 3rem;
}

/deep/.form_horizontal {
    >span {
        display: block;
        margin-bottom: .8rem;
    }

    >span>.msg {
        @extend %msg;
        margin-left: 0;
    }
}



/deep/.radioAndCheckbox {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    >label {
        width: 10rem;
        display: inline-block;
        margin-right: 2rem;
        padding-bottom: 2rem;
    }

    input[type='radio'],
    input[type='checkbox'] {
        position: relative;
        display: inline-block;

        &:after {
            position: absolute;
            top: -10px;
            right: -25px;
            display: block;
            content: '';
            width: 15px;
            height: 15px;
            border: #eeeeee solid 1px;
            border-radius: 50%;
        }

        &:before {
            position: absolute;
            top: -7px;
            right: -22px;
            display: block;
            content: '';
            width: 9px;
            height: 9px;
            border: #eeeeee solid 1px;
            border-radius: 50%;
        }

        &:checked {
            &:before {
                background: #019c96;
            }

        }
    }
}

/deep/.selectCustome {
    position: relative;

    select {
        display: inline-block;
        background: $sell_green_dark;
        color: #ffffff;
        border-radius: 3px;
        width: 12rem;
        padding: 4px;
        height: 3rem;
        line-height: 2rem;
    }

    &:after {
        content: "▾";
        color: #ffffff;
        position: absolute;
        width: 10px;
        height: 10px;
        display: block;
        top: 0;
        right: 3px;
    }
}

/deep/.require {
    >dt {
        position: relative;

        &:after {
            content: "★";
            display: block;
            position: absolute;
            right: 2.4rem;
            top: 0;
            font-size: 10px;
            padding: 2px 6px;
            border-radius: 2px;
            color: $read_orange_dark;
        }
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 900px) {
    /deep/.form-book {
        width: 98% !important;
        margin: 2.4rem auto;
        font-size: 1.2rem;

        dl {
            margin-bottom: 2rem;
            display: block;

            dt,
            dd {
                font-size: 1.2rem;

                margin-bottom: 1rem;

            }

            dt {
                //width: 100%;
                vertical-align: top;
                color: $sell_green_dark;
                font-weight: bold;
                display: inline-block;
                border-left: .4rem solid $sell_green_dark;
                padding-left: .6rem;
            }

            dd {
                width: 100%;
                display: block;

                >div,
                >span,
                >div>span {
                    margin-right: 1.6rem;
                }

                >div {
                    margin-bottom: 1.6rem;
                }

                input[type='text'],
                input[type='email'],
                input[type='tel'],
                input[type='date'],
                input[type='password'] {
                    display: inline-block;
                    border: #eeeeee solid 1px;
                    border-radius: 3px;
                    width: 100%;
                    padding: 4px;
                    height: 2rem;
                }

                textarea {
                    width: 100%;
                }

            }

        }
    }

}

@media screen and (max-width: 413px) {}