/deep/input,
/deep/button,
/deep/textarea,
/deep/select {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/deep/textarea {
    resize: vertical;
}

/deep/input[type='checkbox'],
/deep/input[type='radio'] {
    //display: none;
    border-radius: 50%;


}

/deep/input[type='submit'],
/deep/input[type='button'],
/deep/label,
/deep/button,
/deep/select {
    cursor: pointer;
}

/deep/select::-ms-expand {
    display: none;
}