@import "./_color.scss";

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    border: solid #eeeeee 1px;
}

.form-book {
    width: 75.6rem;
    margin: 7.2rem auto;
    font-size: 1.4rem;

    dl {
        margin-bottom: 2.4rem;
        display: table;

        dt,
        dd {
            display: table-cell;

            input[type='text'],
            input[type='email'],
            input[type='tel'],
            input[type='date'] {
                display: inline-block;
                border: #eeeeee solid 1px;
                border-radius: 3px;
                width: 12rem;
                padding: 4px;
                height: 2rem;
            }

            select {
                background: $upload_blue_dark;
                color: #ffffff;

            }
        }

        .radioAndCheckbox {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            >label {
                width: 10rem;
                display: inline-block;
                margin-right: 2rem;
                padding-bottom: 2rem;
            }

            input[type='radio'],
            input[type='checkbox'] {
                position: relative;
                display: inline-block;

                &:after {
                    position: absolute;
                    top: -10px;
                    right: -25px;
                    display: block;
                    content: '';
                    width: 15px;
                    height: 15px;
                    border: #eeeeee solid 1px;
                    border-radius: 50%;
                }

                &:before {
                    position: absolute;
                    top: -7px;
                    right: -22px;
                    display: block;
                    content: '';
                    width: 9px;
                    height: 9px;
                    border: #eeeeee solid 1px;
                    border-radius: 50%;
                }

                &:checked {
                    &:before {
                        background: $upload_blue_dark;
                    }

                }
            }
        }

        dt {
            width: 16rem;
            vertical-align: top;
        }

        dd {
            width: 59.6rem;

            >div,
            >span,
            >div>span {
                margin-right: 1.6rem;
            }

            >div {
                margin-bottom: 1.6rem;
            }

            /deep/ .selectCustome {
                position: relative;

                /deep/ select {
                    display: inline-block;
                    background: $sell_green_dark;
                    color: #ffffff;
                    border-radius: 3px;
                    width: 12rem;
                    padding: 4px;
                    height: 3rem;
                    line-height: 2rem;
                }

                /deep/ &:after {
                    content: "▾";
                    color: #ffffff;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    display: block;
                    top: 0;
                    right: 3px;
                }
            }
        }

    }
}